
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div style="margin-top:80px">
        <h1 style="color:red">Admin Panelə xoş gəlmisiniz</h1>
        <p class="mt-4" style="font-size:26px;">Bu sistem idarəçiyə dataları və saytı idarə etmək üçün yardımçı olacaqdır.</p>
    </div>
</div>



